*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #F9FAFB;
}
h1{
    font-family: "montserrat";
}
p,a{
    font-family: "lato";
    text-decoration: none;
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}
.logo_head{
    width: 50%;
    height: 100px;    
}
.logo_head img{
    width: 300px;
    height: 100px;
}
.NavBar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavBar li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    list-style-type: none ;
    font-size: 18px;
    font-family: "lato";
    font-weight:650;
}
.NavBar li a{
    text-decoration: none;
    color: #111827;
}

.NavBar li a:hover{
    color: #2563EB;
}

.banner{
    background-image: linear-gradient(90deg,#2563EB,#1D4ED8);
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.banner h1{
    color: #FFFFFF;
    font-size: 48px;
}
.banner p{
    color: #E5E7EB;
    font-size: 18px;
    line-height: 1.7;
    max-width: 700px;
}
.banner button{
    background-color: #10B981;
    color: white;
    border: none;
    Padding: 12px 32px;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
    transition:background-color 0.3s ease-in-out;
}
.banner button:hover{
    background-color: #059669;
    cursor: pointer;
}

.about{
    background-color: #F9FAFB;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 80px 100px;
}

.about_text h1{
    font-size: 32px;
    margin-top: 0;
}
.about_text p{
    font-size: 16px;
    line-height: 1.6;
}
.about_img img{
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 3px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.services{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 80px 100px;
    gap: 30px;
    text-align: center;
}
.services h1{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 0;
}
.card{
    background-color: #F3F4F6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    text-align: center;
}
.card:hover{
    border: 2px solid #2563EB; 
}
.card img{
    width: 100%;
    height: 40%;
    border-radius: 7px;
}
.card h1{
    font-size: 20px;
    padding-top: 30px;
}
.card p{
    font-size: 16px;
    line-height: 1.6;
}
.contact{
    background-color: #EFF6FF;
    padding: 80px 100px;
}
.contact h1{
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}
.contact_form{
    max-width: 550px; 
    margin: auto;
}
.contact_form input{
    width: 100%;
    padding: 12px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}
#messageInput{
    width: 100%;
    height: 120px;
    padding: 12px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}
.contact_form button{
    padding: 12px 32px;
    font-size: 16px;
    background-color: #2563eb;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    transition:background-color 0.3s ease-in-out;
}
.contact_form button:hover{
    background-color: #1D4ED8;
    cursor: pointer;
}
.footer_container{
    background-color: #2D3648;
    color: #E2E8F0;
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
}
.logo_foot img{
    width: 80%;
    height: 50%;
    margin-top: 15%;
    float: left;
    background-color: #f2f3f5;
    border-radius: 30px;
}
.links{
    text-align: center;
}
.links a{
    color: #E2E8F0 ;
    text-decoration: none;
    font-size: 16px;
}
.links a:hover{
    color: #10B981;
    cursor: pointer;
}
.social{
    text-align: center;
}
.social i{
    display: block;
    margin-top: 15px;
    font-size: 30px;
}
.social a{
    color: #E2E8F0 ;
}
.social i:hover{
    color: #10B981;
    cursor: pointer;
}
.bottomBar{
    text-align: center;
    color: #E2E8F0 ;
    height: 20px;
    background-color: #0F172A;
    font-size: 14px;
    margin: 0;
    border-top: 1px solid #4B5563;
}
.bottomBar p{
    margin: 0;
}

@media all and (max-width:768px){
.logo_head img{
    width: 250px;
}
.NavBar li{
    padding: 5px;
    margin: 5px;
}

.banner{
    padding: 30px 0;
}
.about{
    gap: 40px;
}

.about_img img{
    width: 100%;
    height: 80%;
}
.services{
    gap: 20px;
}
.card h1{
    padding: 10px;
}
.card p{
    font-size: 14px;
    line-height: 1.5;
    margin: 25px auto;
}
.contact_form{
    max-width: 400px; 
}
#messageInput{
    height: 100px;
}
.footer_container{
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.logo_foot img{
    margin-left: 50px;
}
.links{
    margin: 25px;
}
.links p {
    display: inline;
    margin: 25px;
    line-height: 3;
}
.social{
    margin: 20px;
    padding-bottom:10px;
}
.social i{
    display: inline;
    margin: 15px;
}
.map{
    border-radius: 10px;
    height: 150px;
}
}

@media all and (max-width:480px){
.logo_head img{
    width: 165px;
    height: 70px;
}
.NavBar li{
    display: block;
    padding: 0;
    margin: 0px 0px 0px 65px;
}
.NavBar li a{
    font-size:16px ;
}
.banner h1{
    margin-bottom: 10px;
}
.banner p{
    font-size: 25px;
}
.about{
    grid-template-columns: 100%;
    gap: 20px;
    padding: 80px 100px;
}
.about_img img{
    width: 250px;
    height: 250px;
}
.about p{
    font-size:25px;
    width: 250px;
}
.services{
    grid-template-columns: 100%;
}
.services h1{
    grid-column-end: 2;
}
.footer_container{
    grid-template-columns: 100%;
    gap: 0;
}
.logo_foot img{
    margin-left: 20px;
}
.links{
    margin: 25px;
}
.links p {
    display: inline;
    margin: 25px;
    line-height: 3;
}
.social i{
    display: inline;
    margin: 1px;
    padding: 2px;
    font-size:24px;
}
.map{
    border-radius: 10px;
    height: 150px;
}
}