*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #F9FAFB;
}
h1{
    font-family: "montserrat";
}
p{
    font-family: "lato";
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}
.logo{
    width: 50%;
    height: 100px;    
}
.logo img{
    width: 300px;
    height: 100px;
}
.NavBar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavBar li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    list-style-type: none ;
    font-size: 18px;
    font-family: "lato";
    font-weight:650;
}
.NavBar li a{
    text-decoration: none;
    color: #111827;
}

.NavBar li a:hover{
    color: #2563EB;
}

.banner{
    background-image: linear-gradient(90deg,#2563EB,#1D4ED8);
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.banner h1{
    color: #FFFFFF;
    font-size: 48px;
}
.banner p{
    color: #E5E7EB;
    font-size: 18px;
    line-height: 1.7;
    max-width: 700px;
}
.banner button{
    background-color: #10B981;
    color: white;
    border: none;
    Padding: 12px 32px;
    border-radius: 8px;
    font-size: 1rem;
    display: inline-block;
}
.banner button:hover{
    background-color: #059669;
    cursor: pointer;
}

.about{
    background-color: #F9FAFB;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 80px 100px;
}

.about_text h1{
    font-size: 32px;
}
.about_text p{
    font-size: 16px;
    line-height: 1.6;
}
.about_img img{
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 3px rgba(0, 0, 0, 0.2);
}
.services{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 80px 100px;
    gap: 30px;
    text-align: center;
}
.services h1{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 0;
}
.card{
    background-color: #F3F4F6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    text-align: center;
}
.card:hover{
    border: 2px solid #2563EB; 
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 40%;
    border-radius: 7px;
}
.card h1{
    font-size: 20px;
    padding-top: 30px;
}
.card p{
    font-size: 16px;
    line-height: 1.6;
}
.contact{
    background-color: #EFF6FF;
}